services:
  trainer:
    build:
      context: ./services/trainer
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=livelab
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=app
      - ARTIFACT_DIR=/artifacts
    volumes:
      - ./artifacts:/artifacts
    depends_on:
      postgres:
        condition: service_healthy
