global:
  scrape_interval: 5s

rule_files:
  - /etc/prometheus/alert.rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: "inference"
    metrics_path: /metrics
    static_configs:
      - targets: ["inference:8000"]
